<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiApparcamiento"
        tools:targetApi="31"
        >

        <!-- Se registra la actividad main activity como parte de la aplicación -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>

                <!-- El MAIN le dice a android que esta es la actividad principal -->
                <action android:name="android.intent.action.MAIN"/>

                <!-- El LAUNCHER le dice a android que tiene que abrir esta actividad al presionar el icono de la aplicación-->
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"
            android:exported="false"/>

    </application>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="${MAPS_API_KEY}"
        />
    <meta-data

        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"
        />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



</manifest>